<div id="main-scroll-element" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="200" [topOffset]="200" >
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
    <div>Bla bla bla</div>
<div>